* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}


/* 头部 */

.header {
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: purple; */
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 15px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
    /* 按钮button默认有个边框需要我们手动去掉 */
    border: 0;
}

.user {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-right: 20px;
    font-size: 14px;
    color: #666;
}


/* 中部 */

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2_20190819_210028.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(20, 2, 75, 0.5);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-decoration: none;
}

.subnav ul li span {
    float: right;
}

.subnav ul li a:hover {
    color: #000;
    background-color: red;
}

.banner .w .course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: white;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
}

.course h2 {
    height: 49px;
    background-color: skyblue;
    text-align: center;
    line-height: 49px;
    font-size: 18px;
    color: white;
}

.course .bd {
    padding: 0 20px;
}

.course .bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.course .bd ul li h4 {
    color: rgb(90, 90, 90);
    font-size: 16px;
}

.course .bd ul li p {
    color: rgb(189, 189, 189);
    font-size: 12px;
}

.course .bd a {
    display: block;
    height: 40px;
    border: 1px solid rgb(0, 164, 255);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 164, 255);
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}


/* 精品推荐模块 */

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /* 行高继承 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
    text-decoration: none;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    text-decoration: none;
}


/* 精品推荐大模块*/

.box {
    height: 600px;
}

.box-hd {
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: "#f3f5f7";
    font-weight: 400;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}

.box-bd {
    color: pink;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    height: 270px;
    width: 228px;
    background-color: #fff;
    margin-right: 15px;
    margin-top: 15px;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd .info {
    margin: 0 20px 0 20px;
    font-size: 12px;
    color: #999;
}

.info span {
    color: #ff7c2d;
}